In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd drive/MyDrive/TechLabs/01_Introduction\ to\ Python\ Programming

[Errno 2] No such file or directory: 'drive/MyDrive/TechLabs/01_Introduction to Python Programming'
/content/drive/MyDrive/TechLabs/01_Introduction to Python Programming

In [ ]:
import numpy as np
import pandas as pd
import random

In [ ]:
df_f = pd.read_excel('data/240310_Techlabs_Students_female.xlsx')
df_m = pd.read_excel('data/240310_Techlabs_Students_male.xlsx')

In [ ]:
df_f = pd.DataFrame(columns=['id', 'name', 'gender', 'age', 'course', 'level', 'points', 'pass_fail'])
df_m = pd.DataFrame(columns=['id', 'name', 'gender', 'age', 'course', 'level', 'points', 'pass_fail'])

In [ ]:
names_f = ["Olivia", "Emma", "Amelia", "Sophia", "Charlotte", "Ava", "Isabella", "Mia", "Luna", "Evelyn", "Gianna", "Lily", "Aria", "Aurora", "Ellie", "Harper", "Mila", "Sofia", "Camila", "Layla", "Nova", "Eliana", "Ella", "Violet", "Hazel", "Willow", "Chloe", "Ivy", "Scarlett", "Penelope", "Eleanor", "Elena", "Avery", "Nora", "Abigail", "Emily", "Maya", "Isla", "Delilah", "Naomi", "Elizabeth", "Grace", "Zoey", "Emilia", "Riley", "Zoe", "Paisley", "Athena", "Leilani", "Madison", "Victoria", "Ayla", "Stella", "Lucy", "Kinsley", "Iris", "Gabriella", "Lainey", "Aaliyah", "Serenity", "Addison", "Alice", "Bella", "Sadie", "Sophie", "Amara", "Autumn", "Summer", "Emery", "Everly", "Valentina", "Hannah", "Brooklyn", "Madelyn", "Natalie", "Leah", "Maria", "Savannah", "Amira", "Aubrey", "Jade", "Jasmine", "Eden", "Skylar", "Josie", "Clara", "Adeline", "Elliana", "Millie", "Lillian", "Melody", "Sarah", "Eva", "Ruby", "Freya", "Lyla", "Adalynn", "Liliana", "Daisy", "Nevaeh"]

In [ ]:
random_names_f = np.random.choice(names_f, (50,1))

In [ ]:
names_m = ["Noah", "Liam", "Oliver", "Elijah", "Mateo", "Lucas", "Levi", "Leo", "Ezra", "Luca", "Asher", "James", "Ethan", "Sebastian", "Henry", "Muhammad", "Hudson", "Maverick", "Benjamin", "Theo", "Kai", "Jackson", "Michael", "Daniel", "Aiden", "Gabriel", "Josiah", "Mason", "Jack", "Elias", "Grayson", "Alexander", "Luke", "Julian", "Jayden", "David", "Logan", "Theodore", "Wyatt", "Carter", "Samuel", "Owen", "William", "Waylon", "Ezekiel", "Miles", "Matthew", "Isaiah", "Jacob", "Santiago", "Caleb", "John", "Joseph", "Thomas", "Adam", "Amir", "Isaac", "Nolan", "Nathan", "Zion", "Jeremiah", "Lincoln", "Adrian", "Anthony", "Cooper", "Eli", "Micah", "Cameron", "Enzo", "Ryan", "Roman", "Rowan", "Xavier", "Jaxon", "Wesley", "Weston", "Andrew", "Joshua", "Silas", "Colton", "Charlie", "Parker", "Christopher", "Greyson", "Luka", "Atlas", "Dominic", "Christian", "Myles", "Brooks", "Kayden", "Austin", "Aaron", "Omar", "Amari", "Axel", "Beau", "Jasper", "Landon", "Max"]

In [ ]:
random_names_m = np.random.choice(names_m, (50,1))

In [ ]:
random_age_f = np.random.randint(18, 49, (50,1)) # Generates an age between 18 and 49
random_age_m = np.random.randint(18, 49, (50,1))

In [ ]:
course = ["english", "italian", "german", "portuguese", "polish", "dutch", "spanish", "french", "czech" ]

In [ ]:
random_course_f = np.random.choice(course, (50,1))
random_course_m = np.random.choice(course, (50,1))

In [ ]:
level = ["A1", "A2", "B1", "B2", "C1", "C2"]

In [ ]:
random_level_f = np.random.choice(level, (50,1))
random_level_m = np.random.choice(level, (50,1))

In [ ]:
random_points_f = np.random.randint(40, 100, (50,1)) # Generates points between 0 and 100
random_points_m = np.random.randint(40, 100, (50,1))

In [ ]:
df_f["name"]= pd.DataFrame(random_names_f)
df_m["name"]= pd.DataFrame(random_names_m)
df_f["age"]= pd.DataFrame(random_age_f)
df_m["age"]= pd.DataFrame(random_age_m)
df_f["course"]= pd.DataFrame(random_course_f)
df_m["course"]= pd.DataFrame(random_course_m)
df_f["level"] = pd.DataFrame(random_level_f)
df_m["level"] = pd.DataFrame(random_level_m)
df_f["points"] = pd.DataFrame(random_points_f)
df_m["points"] = pd.DataFrame(random_points_m)

In [ ]:
# df_total = pd.DataFrame(df_f,df_m)
# df_total.to_excel('data/240312_Techlabs_Students_total.xlsx')
# Versuch die beiden Dateien in einer Datei zu kombinieren bisher nicht erfolgreich

In [ ]:
df_f.to_excel('data/240310_Techlabs_Students_female.xlsx')
df_m.to_excel('data/240310_Techlabs_Students_male.xlsx')